<div class="signup-container">
    <div class="container-header">
        <i></i> <!--ICON/IMAGE HERE-->
        <h1>Sign-Up</h1>
    </div>
    <div class="container-content">
        <div class="flex-container">
            <div class="user-info">
                <div class="input-group">
                    <label for="">Username</label>
                    <input type="text" id="username_input">
                </div>
                <div class="input-group">
                    <label for="">Email</label>
                    <input type="text" id="email_input">
                </div>
                <div class="input-group">
                    <label for="">Password</label>
                    <input type="password" id="password_input">
                </div>
            </div>
            <div class="basic-info">
                <div class="input-group">
                    <label for="">First name</label>
                    <input type="text" id="firstname_input">
                </div>
                <div class="input-group">
                    <label for="">Last name</label>
                    <input type="text" id="lastname_input">
                </div>
                <div class="input-group">
                    <label for="">Country</label> <!--TRY TO MAKE AUTO DETECTION-->
                    <input type="text" id="country_input">
                </div>
                <div class="input-group">
                    <label for="">Birth date</label>
                    <input type="date" id="birthdate_input">
                </div>
            </div>
        </div>
        <button onclick="signUp()">Create account</button>
    </div>

    <button class="link-button" onclick="loadLoginComponent('../Assets/Components/Login/sign_in.html')">Already have an account? Sign-In</button>
    <script src="../../JavaScript/login_load_html.js"></script>
</div>