<div class="signin-container">
    <div class="header-container">
        <h1>Sign-In</h1>
    </div>

    <div class="content-container">
        <div class="flex-container">
            <div class="user-info">
                <div class="input-group">
                    <label for>Username/Email </label>
                    <input type="text" id="username_input">
                </div>

                <div class="input-group">
                    <label for>Password</label>
                    <input type="password" id="password_input">
                </div>
            </div>

        </div>
        <button onclick="signIn()">Sign In</button>
    </div>
    <button class="link-button" onclick="loadLoginComponent('../Assets/Components/Login/sign_Up.html')">Don't
        have an account? Sign-Up</button>

    <script src="../../JavaScript/login_load_html.js"></script>
    <script src="../../JavaScript/login_handler.js"></script>
</div>